.modalWorl {
    position: fixed;
    background-color: var(--accent-transparent);
    top: var(--h-navbar);
    left: 0;
    width: 100%;
    height: calc(100% - var(--h-navbar));

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.5s, visibility 0.5s;
    color: var(--text-100);
}

.modalWorl__show {
    opacity: 1;
    visibility: visible;
}

.modalWord__info {
    background-color: var(--bg-100);
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
    height: 80%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.modalWord__info .bxs-game {
    font-size: 1rem;
}

.info__name {
    font-size: 4rem;
    font-weight: bold;
}

.icon__close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}
